
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

:root{
    --color-primary: #191d2b;
    --color-secondary: #27AE60;
    --color-white: #FFFFFF;
    --color-black: #000;
    --color-grey0: #f8f8f8;
    --color-grey-1: #dbe1e8;
    --color-grey-2: #b2becd;
    --color-grey-3: #6c7983;
    --color-grey-4: #454e56;
    --color-grey-5: #2a2e35;
    --color-grey-6: #12181b;
    --br-sm-2: 14px;
    --box-shadow-1: 0 3px 15px rgba(0,0,0,.3);
}

.light-mode{
    --color-primary: #FFFFFF;
    --color-secondary: #F56692;
    --color-white: #454e56;
    --color-black: #000;
    --color-grey0: #f8f8f8;
    --color-grey-1: #6c7983;
    --color-grey-2: #6c7983;
    --color-grey-3: #6c7983;
    --color-grey-4: #454e56;
    --color-grey-5: #efefef;
    --color-grey-6: #12181b;
}

body{
    background-color: var(--color-primary);
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    color: var(--color-white);
    transition: all .4s ease-in-out;
}

a{
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

header{
    height: 100vh;
    color: var(--color-white);
    overflow: hidden;
}

section{
    min-height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 3rem 18rem;
}

.section{
    transform: translateX(-100%) scale(0);
    transition: all .4s ease-in-out;
    border-color: var(--color-primary);
}

.sec1{
    display: none;
    transform: translateY(0) scale(1);
}

.sec2{
    display: none;
    transform: translateY(0) scale(1);
}

.sec3{
    display: none;
    transform: translateY(0) scale(1);
}

.sec4{
    display: none;
    transform: translateY(0) scale(1);
}

.active{
    display: block;
    animation: scaleAnim .4s ease-in-out;   
}
@keyframes scaleAnim{
        0%{
            transform: translateY(-100%) scaleY(0);
        }

        100%{
            transform: translateY(0) scaleY(1);
        }
    }

/*control styles*/
.controls{
    position: fixed;
    z-index: 10;
    top: 50%;
    right: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
}

.controls .control{
    padding: 1rem;
    cursor: pointer;
    background-color: var(--color-grey-4);
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: .7rem 0;
    box-shadow: var(--box-shadow-1);
}

.controls .control i{
    font-size: 1.2rem;
    color: var(--color-grey-2);
    pointer-events: none;
}

.controls .active-btn{
    background-color: var(--color-secondary) !important;
    transition: all .4s ease-in-out;
}

.controls .active-btn i{
    color: var(--color-white) !important;
}

/*Header Content*/
.header-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
}

/* Left Header */
.header-content .left-header{
    display: flex;
    align-items: center;
    position: relative;
}

.header-content .left-header .h-shape{
    transition: all .4s ease-in-out;
    width: 65%;
    height: 100%;
    background-color: var(--color-secondary);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    clip-path: polygon(0 0, 30% 0,70% 100%, 0% 100%);
}

.header-content .left-header .image{
    border-radius: var(--br-sm-2);
    height: 80%;
    width: 58%;
    margin-left: 6rem;
    background-color: var(--color-black);
    transition: all .4s ease-in-out;
}

.header-content .left-header .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .4s ease-in-out;
    filter: grayscale(50%);
}

.header-content .left-header .image img:hover{
    filter: grayscale(0);
}

/* Right Header */
.header-content .right-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 12rem;
}

.header-content .right-header .name{
    font-size: 2rem;
}

.header-content .right-header .name span{
    color: var(--color-secondary);
}

.header-content .right-header p{
    margin: 1.5rem 0;
    line-height: 2rem;
    font-size: .8rem;
}

/* Section ABOUT */
/* -----Information----- */
.about-info{
    text-align: justify;
}

.about-info p{
    padding-left: 1rem;
    color: var(--color-grey-1);
    padding-bottom: 2rem;
}

h4{
    font-size: 1.7rem;
    text-transform: uppercase;
    padding-top: 3rem;
    padding-bottom: 1rem;
}

.about-info .btn-con{
    justify-content: center;
}

/* -----Education----- */
.edu-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    padding-left: 1rem;
}

.about-edu .about-item{
    border: 2px solid var(--color-grey-5);
    border-radius: 5px;
    transition: all .4s ease-in-out;
    box-shadow: 1px 2px 15px rgba(0, 0, 0, .1);
}

.about-edu .about-item:hover{
    cursor: default;
    transform: translateY(-5px);
    border: 3px solid var(--color-secondary);
    box-shadow: 1px 4px 15px rgba(0, 0, 0, .32);
}

.about-edu .about-item .abt-text{
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
}

.about-edu .about-item .abt-text .large-text{
    font-size: 24px;
    font-weight: 700;
    color: var(--color-secondary);
}

.about-edu .about-item .abt-text .small-text{
    padding-left: 3rem;
    position: relative;
    text-transform: uppercase;
    font-size: 14px;
    color: var(--color-grey-1);
    letter-spacing: 2px;
}

.about-edu .about-item .abt-text .small-text::before{
    content: '';
    position: absolute;
    left: 0;
    top: 15px;
    width: 2rem;
    height: 2px;
    background-color: var(--color-grey-5);
}

/* -----Skills----- */
.about-skills{
    padding-bottom: 4rem;
}

.about-skills .progress-bars{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    padding-left: 1rem;
}

.about-skills .progress-bars .progress-bar{
    display: flex;
    flex-direction: column;
}

.about-skills .progress-bars .progress-bar .progress-title{
    text-transform: uppercase;
    font-weight: 500;
}

.about-skills .progress-bars .progress-bar .progress-con{
    display: flex;
    align-items: center;
}

.about-skills .progress-bars .progress-bar .progress-con .progress-text{
    color: var(--color-grey-2);
}

.about-skills .progress-bars .progress-bar .progress-con .progress{
    width: 100%;
    height: .45rem;
    background-color: var(--color-grey-4);
    margin-left: 1rem;
    position: relative;
}

.about-skills .progress-bars .progress-bar .progress-con .progress span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--color-secondary);
    transition: all .4s ease-in-out;
    width: 60%;
}

.about-skills .progress-bars .progress-bar .progress-con .progress .html{
    width: 95%;
}

.about-skills .progress-bars .progress-bar .progress-con .progress .css{
    width: 90%;
}

.about-skills .progress-bars .progress-bar .progress-con .progress .javaScript{
    width: 90%;
}

.about-skills .progress-bars .progress-bar .progress-con .progress .vueJs{
    width: 80%;
}

.about-skills .progress-bars .progress-bar .progress-con .progress .nodeJs{
    width: 60%;
}

/* -----Experience----- */
.exp-con{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 2rem;
    padding-bottom: 3rem;
    padding-left: 3rem;
}

.exp-con .exp-item{
    position: relative;
    padding-left: 3rem;
    border-left: 1px solid var(--color-grey-5);
}

.exp-con .exp-item .exp-icon{
    position: absolute;
    left: -27px;
    top: 0;
    background-color: var(--color-secondary);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.exp-con .exp-item .exp-icon i{
    font-size: 1.3rem;
}

.exp-con .exp-item .exp-duration{
    padding: .2rem .6rem;
    background-color: var(--color-grey-5);
    border-radius: 15px;
    display: inline-block;
    font-size: .8rem;
    text-transform: uppercase;
    font-weight: 500;
}

.exp-con .exp-item h5{
    padding: 1rem 0;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 600;
}

.exp-con .exp-item h5 span{
    color: var(--color-grey-2);
    font-weight: 500;
    font-size: 1.2rem;
}

.exp-con .exp-item p{
    color: var(--color-grey-2);
}


/* Section ABOUT */
.project{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    margin-top: 3rem;
}

.project .project-item{
    position: relative;
    border-radius: 15px;
}

.project .project-item img{
    width: 80%;
    height: 80%;
    object-fit: cover;
    border-radius: 15px;
}

.project .project-item .hover-item{
    width: 80%;
    height: 97%;
    background-color: var(--color-secondary);
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transform: scale(0);
    transition: all .4s ease-in-out;
}

.project .project-item .hover-item h3{
    font-size: 1.5rem;
    color: var(--color-white);
    margin-bottom: 1.3rem;
}

.project .project-item .hover-item .icons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.project .project-item .hover-item .icons .icon{
    background-color: var(--color-primary);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1rem;
    cursor: pointer;
    transition: all .4s ease-in-out;
}

.project .project-item .hover-item .icons .icon i{
    font-size: 1.5rem;
    color: var(--color-white);
    margin: 0 1rem;
}

.project .project-item .hover-item .icons .icon:hover{
    background-color: var(--color-white);
}

.project .project-item .hover-item .icons .icon:hover i{
    color: var(--color-primary);
}

.project-item:hover .hover-item{
    opacity: 1;
    transform: scale(1);
}

/* Section Contact */
.contact-content-con{
    display: flex;
}

.contact-content-con .left-contact{
    flex: 2;
}

.contact-content-con .left-contact h4{
    top: 1rem;
    font-size: 2rem;
    text-transform: uppercase;
}

.contact-content-con .left-contact p{
    margin: 1rem 0;
    line-height: 1rem;
}

.contact-content-con .left-contact .contact-info .contact-item{
    display: grid;
    grid-template-columns: 2rem 7rem 12rem;
    align-items: center;
    font-size: 1rem;
}

.contact-content-con .left-contact .contact-icon{
    display: flex;
    margin-top: 1rem;
}

.contact-content-con .left-contact .contact-icon a{
    display: flex;
    align-items: center;
    color: var(--color-white);
    background-color: var(--color-grey-5);
    cursor: pointer;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: .5rem;
    transition: all .4s ease-in-out;
}

.contact-content-con .left-contact .contact-icon a:hover{
    background-color: var(--color-secondary);
}

.contact-content-con .left-contact .contact-icon a:hover i{
    color: var(--color-primary);
}

.contact-content-con .left-contact .contact-icon a i{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
}

.contact-content-con .right-contact{
    flex: 2;
    margin-left: 3rem;
    margin-top: 3rem;
}

.contact-content-con .right-contact .input-control{
    margin-bottom: .7rem;
}

.contact-content-con .right-contact .input-control input, textarea{
    border-radius: 20px;
    font-weight: inherit;
    font-size: .8rem;
    font-family: inherit;
    padding: .8rem 1.1rem;
    outline: none;
    border: none;
    background-color: var(--color-grey-5);
    width: 100%;
    color: var(--color-white);
    resize: none;
}

.contact-content-con .right-contact .i-c-2{
    display: flex;
}

.contact-content-con .right-contact .i-c-2 .email{
    margin-left: 1rem;
    width: 50%;
}

.contact-content-con .right-contact .submit-btn{
    display: flex;
    justify-content: flex-start;
}

/* Theme Button */
.theme-btn{
    top: 5%;
    right: 3%;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: var(--color-grey-4);
    cursor: pointer;
    position: fixed;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 15px rgba(0, 0, 0, .3);
    transition: all .1s ease-in-out;
}

.theme-btn:active{
    transform: translateY(-3px);
}

.theme-btn i{
    font-size: 2rem;
    padding-top: .7rem;
    padding-left: .7rem;
    color: var(--color-grey-2);
    pointer-events: none;
}

/* Independent Component */
.btn-con{
    display: flex;
    align-self: flex-start;
}

.main-btn{
    border-radius: 30px;
    color: inherit;
    font-weight: 600;
    position: relative;
    border: 1px solid var(--color-secondary);
    display: flex;
    align-self: flex-start;
    align-items: center;
    overflow: hidden;
}

.main-btn .btn-text{
    padding: 0 2rem;
}

.main-btn .btn-icon{
    background-color: var(--color-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 1rem;
}

.main-btn::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: all .4s ease-in-out;
    z-index: -1;
}

.main-btn:hover{
    transition: all .4s ease-in-out;
}

.main-btn:hover::before{
    width: 100%;
    height: 100%;
    background-color: var(--color-secondary);
    transform: translateX(0);
    transition: all .4s ease-in-out;
}

.main-title{
    text-align: center;
}

.main-title h2{
    position: relative;
    text-transform: uppercase;
    font-size: 3.2rem;
    font-weight: 700;
}

.main-title h2 span{
    color: var(--color-secondary);
}

.main-title h2 .bg-text{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    color: var(--color-grey-5);
    transition: all .4s ease-in-out;
    z-index: -1;
    transform: translate(-50%, -50%);
    font-weight: 800;
    font-size: 4rem;
}


/* Media Query */
@media screen and (max-width: 576px) {
    header{
        padding: 0;
        height: auto;
    }
    
    header .right-header{
        padding: .5rem !important;
        padding-bottom: 0;
    }

    .theme-btn{
        width: 45px;
        height: 45px;
    }

    .theme-btn i{
        font-size: 1.5rem;
        padding-top: .7rem;
        padding-left: .68rem;
    }

    .header-content{
        grid-template-columns: repeat(1, 1fr);
        padding-bottom: 6rem;
    }

    .left-header{
        width: 90%;
    }

    .left-header .h-shape{
        display: none;
    }

    .left-header image{
        padding-top: 0;
    }

    .right-header{
        grid-row: 1;
        width: 90%;
        margin: 3rem auto 0 auto;
    }

    .main-btn{
        font-size: .7rem;
    }

    .main-btn .btn-text{
        padding: 0 1rem;
    }

    .main-btn .btn-icon{
        padding: .7rem;
    }

    .controls{
        top: auto;
        bottom: 0;
        flex-direction: row;
        justify-content: center;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 60px;
        background-color: var(--color-grey-5);
    }

    .controls .control{
        margin: 1.3rem .5rem;
        width: 30px;
        height: 30px;
        padding: 1.2rem;
    }

    .controls .control i{
        font-size: 1rem;
    }


    /* ABOUT ME */
    section{
        padding: 2rem 1rem;
    }

    .main-title h2{
        font-size: 2.5rem;
    }

    .main-title h2 .bg-text{
        display: none;
    }

    h4{
        font-size: 1.3rem;
        padding-top: 2rem;
    }

    .about-info p{
        font-size: .8rem;
        line-height: 1.2rem;
        padding-bottom: 1rem;
    }

    .about-edu .edu-container{
        grid-gap: 1rem;
    }

    .about-edu .about-item .abt-text{
        padding: 1rem;
    }

    .about-edu .about-item .abt-text .large-text{
        font-size: 20px;
        line-height: 1.5rem;
        padding-bottom: .7rem;
    }

    .about-edu .about-item .abt-text .small-text{
        padding-left: 1rem;
        font-size: 10px;
    }

    .about-skills{
        padding-bottom: 0;
    }

    .about-skills .progress-bars{
        font-size: .8rem;
    }

    .exp-con .exp-item{
        padding-left: 2rem;
    }

    .exp-con .exp-item .exp-icon{
        width: 35px;
        height: 35px;
    }

    .exp-con .exp-item .exp-duration{
        font-size: .6rem;
    }

    .exp-con .exp-item h5{
        font-size: 1rem;
    }

    .exp-con .exp-item h5 span{
        font-size: 1rem;
    }

    .exp-con .exp-item p{
        font-size: .8rem;
    }


    /* /* SECTION MY PROJECTS */
    .project{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 3rem;
    }

    .project .project-item .hover-item{
        margin-left: 2rem;
    }

    /* /* SECTION CONTACT ME */
    .contact-content-con{
        flex-direction: column;        
        margin-left: 1rem;
    }

    .contact-content-con .left-contact h4{
        font-size: 1rem;
    }

    .contact-content-con .left-contact .contact-info .contact-item {
        font-size: .7rem;
    }

    .contact-content-con .left-contact .contact-icon a{
        width: 35px;
        height: 35px;
    }

    .contact-content-con .left-contact .contact-icon a i{
        font-size: 1rem;
    }

    .contact-content-con .right-contact{
        margin: 2rem 1rem 3rem 0;
    }

}